SOTA_IP=192.168.11.5
SOTA_PORT=9980

CAMERA_USER_INDEX=0
CAMERA_ENV_INDEX=1

AZURE_CV_ENDPOINT=https://your-resource.cognitiveservices.azure.com/
AZURE_CV_API_KEY=your_key_here

AZURE_API_KEY=your_key_here
AZURE_BASE_URL=https://your-resource.openai.azure.com/
AZURE_STT_DEPLOY=gpt-4o-transcribe-test
AZURE_CHAT_DEPLOY=gpt-5.2-chat-test
AZURE_TTS_DEPLOY=gpt-4o-mini-tts-test

TABLE_HEIGHT_M=0.72
SOTA_HEIGHT_M=0.40

FLASK_PORT=5000